$blue: #0275D8;
$light-blue: #BEE1FF;
$orange: #F5A623;
$gray: #9B9B9B;

$font-size: 16px;

*, body {
  font-family: apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI",  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-size: $font-size * 3 !important;
}

.top-line {
  width: 456px;
  height: 8px;
  margin: 0 auto;
  background: $blue;
}

.progress-bar {
  position: relative;
  width: 234px;
  margin: 60px auto;
  border: 2px solid $light-blue;
  > div {
    position: absolute;
    color: $light-blue;
    i {
      font-size: 16px;
      background-color: #fff;
    }
    &:first-child {
      left: -2px;
    }
    &:nth-child(2) {
      margin-left: 68px;
    }
    &:nth-child(3) {
      margin-left: 142px;
    }
    &:last-child {
      margin-left: 220px;
    }
    &.step {
      color: $blue;
    }
  }
}

.title { 
  p {
    font-size: $font-size * 1.5;
  }
}

.step2,
.step3,
.step4,
.step5 {
  display: none;
}

form {
  width: 460px;
  margin: 0 auto;
  label {
    font-size: $font-size * 1.25;
  }
}

button {
  width: 100%;
}

.form-group {
  position: relative;
}

.invalid-tooltip {
  position: absolute;
  right: 0;
}

.small-text {
  font-size: $font-size;
}

.upload {
  position: relative;
  width: 460px;
  height: 140px;
  border: 2px solid #000;
  border-radius: 8px;
  color: $gray;
  cursor: pointer;
  input {
    display: none;
  }
  .upload-icon {
    display: inline-block;
    font-size: $font-size * 3;
    margin-top: 30px;
  }
  .upload-text {
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
    span {
      font-size: 14px;
    }
  }
}

.warning {
  display: none;
  width: 460px;
  color: #fff;
  background: $orange;
  border: 2px solid $orange;
  border-radius: 8px;
  font-size: $font-size * 1.25;
}

.images-list {
  .img {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
    &:hover {
      a {
        display: block;
      }
    }
    img {
      max-width: 150px;
      max-height: 150px;
      }
    a {
      display: none;
      position: absolute;
      bottom: 30px;
      right: 15px;
      width: 120px;
      height: 52px;
      line-height: 52px;
      font-size: $font-size * 1.25;
      background: $blue;
      color: #fff;
    }
  }
}

.credit-card {
  position: relative;
  .fa-credit-card {
    position: absolute;
    right: 14px;
    bottom: 10px;
    color: $gray;
  }
}

.success-message {
  i {
    color: $light-blue;
    font-size: $font-size * 18;
  }
  p {
    color: $blue;
    font-size: $font-size * 1.25;
    font-style: italic;
  }
}